################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/node/nest/node_modules
/node/nest/dist
*.suo
*.user
[Bb]in/
[Oo]bj/
dist/
